@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Baloo 2', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
  background-image: linear-gradient(
    184deg,
    hsl(0deg 0% 100%) 0%,
    hsl(28deg 65% 95%) 9%,
    hsl(29deg 64% 91%) 19%,
    hsl(29deg 62% 86%) 30%,
    hsl(30deg 60% 81%) 41%,
    hsl(30deg 59% 76%) 53%,
    hsl(30deg 57% 72%) 65%,
    hsl(31deg 56% 67%) 77%,
    hsl(31deg 54% 62%) 89%,
    hsl(32deg 53% 57%) 100%
  );
}

.background {
  position: relative;
}

.background:before {
  content: '';
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: block;
  position: absolute;
  background-image: url('../public/background.svg');
  background-size: contain;
  background-attachment: fixed;
  background-position: 0 103%;
  background-repeat: repeat-x;
  opacity: 0.75;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

main {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 0;
  min-height: 100vh;
}

section {
  text-transform: capitalize;
  width: 100%;
}

input {
  appearance: none;
  -webkit-appearance: none;
  font-size: 20px;
}

.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 18px;
  padding: 32px;
  margin: 0 auto;
  min-width: -webkit-fill-available;
}

.m-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.weather-list,
.forecast-list {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.weather-list {
  grid-template-columns: repeat(3, 1fr);
}

.forecast-list {
  grid-template-columns: 1fr;
}

.weather-list li,
.forecast-list li {
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
  z-index: 0;
}

.weather-list li {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.forecast-list li {
  justify-content: space-between;
  padding: 10px 14px;
}

.weather-list li:before,
.forecast-list li:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.7);
  filter: blur(2px);
}
.weather-list li:after,
.forecast-list li:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 20%;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 10px 10px 100px 100px / 14px 14px 18px 18px;
  pointer-events: none;
}

.weather-list li span,
.forecast-list li span {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3px;
}

.weather-list li em,
.forecast-list li em {
  font-style: normal;
  font-weight: 500;
  text-transform: lowercase;
}

.weather-list li i,
.forecast-list li i {
  font-size: 15px;
  font-style: normal;
  text-transform: lowercase;
}

.weather-panel {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .container {
    padding: 18px;
    min-height: 58px;
  }

  .m-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-left: 18px;
    padding-right: 18px;
  }

  .weather-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .weather-panel {
    grid-template-columns: repeat(2, 1fr);
  }

  .weather-panel div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .weather-panel div:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .weather-panel div:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .forecast-list li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .forecast-list li div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .forecast-list li div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: end;
  }
  .forecast-list li div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .forecast-list li div:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
    justify-content: end;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 16px;
  }

  .m-container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .weather-list {
    grid-template-columns: 1fr;
  }
}
