@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Baloo 2', sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-image: linear-gradient(
    45deg,
    hsl(120deg 18% 91%) 0%,
    hsl(120deg 18% 92%) 16%,
    hsl(120deg 18% 92%) 23%,
    hsl(120deg 18% 93%) 29%,
    hsl(120deg 18% 93%) 34%,
    hsl(120deg 18% 94%) 39%,
    hsl(120deg 18% 94%) 43%,
    hsl(120deg 17% 95%) 48%,
    hsl(120deg 17% 95%) 52%,
    hsl(120deg 17% 96%) 57%,
    hsl(120deg 17% 96%) 61%,
    hsl(120deg 17% 97%) 66%,
    hsl(120deg 16% 97%) 71%,
    hsl(120deg 16% 98%) 77%,
    hsl(120deg 15% 98%) 84%,
    hsl(120deg 14% 99%) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

.App {
  color: #222;
  text-transform: capitalize;
  width: 100%;
}

.chartX {
  font-size: 11px;
  color: #e8d4c6;
}

.chartTooltip {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  color: #222;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  min-width: 120px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.weather-list {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.weather-list li {
  position: relative;
  overflow: hidden;
  display: flex;
  border: 1px solid hwb(25 78% 9% / 0.8);
  border-radius: 10px;
  padding: 10px 14px;
  z-index: 0;
}

.weather-list li:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 100%) 2%,
    hsl(20deg 19% 99%) 45%,
    hsl(20deg 26% 99%) 57%,
    hsl(20deg 30% 99%) 66%,
    hsl(20deg 33% 98%) 73%,
    hsl(20deg 34% 98%) 79%,
    hsl(20deg 35% 98%) 85%,
    hsl(20deg 36% 97%) 90%,
    hsl(20deg 37% 97%) 95%,
    hsl(20deg 37% 97%) 100%
  );
}
.weather-list li:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 20%;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 20px 20px 100px 100px / 14px 14px 18px 18px;
  pointer-events: none;
}

.weather-list li span {
  display: flex;
  align-items: center;
  gap: 3px;
}

.weather-list li em {
  font-style: normal;
  font-weight: 500;
  text-transform: lowercase;
}

.weather-list li i {
  font-size: 15px;
  font-style: normal;
  text-transform: lowercase;
}
