@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Baloo 2', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
  background-image: linear-gradient(
    180deg,
    hsl(196deg 89% 54%) 0%,
    hsl(200deg 75% 64%) 15%,
    hsl(202deg 58% 69%) 29%,
    hsl(204deg 40% 72%) 43%,
    hsl(207deg 19% 74%) 56%,
    hsl(351deg 3% 75%) 68%,
    hsl(21deg 26% 77%) 79%,
    hsl(23deg 50% 78%) 88%,
    hsl(24deg 75% 78%) 95%,
    hsl(25deg 100% 79%) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b {
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

.App {
  text-transform: capitalize;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  padding: 32px;
}

.weather-list {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.weather-list li {
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
  padding: 10px 14px;
  z-index: 0;
}

.weather-list li:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.6);
  filter: blur(2px);
}
.weather-list li:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 20%;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-radius: 20px 20px 100px 100px / 14px 14px 18px 18px;
  pointer-events: none;
}

.weather-list li span {
  display: flex;
  align-items: center;
  gap: 3px;
}

.weather-list li em {
  font-style: normal;
  font-weight: 500;
  text-transform: lowercase;
}

.weather-list li i {
  font-size: 15px;
  font-style: normal;
  text-transform: lowercase;
}
